html,
body {
  height: 100%;
}

body {
  @extend %rubik-400;
  font-size: 16px;
  line-height: 1.8;
  color: $default;
  display: flex;
  flex-direction: column;
}

.container-lg {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
}

a {
  font-size: 14px;
  color: $footer;
}
