@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


.header {
  padding: 50px 0 45px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  // для того чтобы выстроить нав по макету
  margin-left: 100px;

  &__list {
    display: flex;
  }

  &__item + .menu__item {
    margin-left: 35px;
  }

  &__link {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 1;
    color: $accent;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s;

    &:hover {
      border-color: $accent;
    }
  }
}

.user-nav {
  display: flex;
  align-items: center;

  &__item + .user-nav__item {
    margin-left: 20px;
  }

  &__item {
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding-top: 8px;

    &--search {
      background-color: #edf1f4;
    }

    &--group {
      width: 180px;
      background-color: $bg-accent;
    }

    &--menu {
      background-color: #a3bbc8;
    }
  }

  &__link {
    position: relative;

    path {
      fill: $accent;
    }

    &--like,
    &--cart {
      padding: 0 30px;
    }

    &--like {
      border-right: 1px solid #fde7d3;
    }

    &--menu {
      path {
        fill: #fff;
      }
    }
  }

  &__num {
    position: absolute;
    top: -6px;
    right: 20px;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: #fff;
    @extend %dmsans-400;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    color: $accent;
  }
}

.footer {
  color: $footer;
  font-size: 14px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 80px 0 75px;
  border-bottom: 1px solid #dae4e9;

  &__column {
    padding-top: 10px;
    max-width: 170px;
    margin-right: 130px;
  }

  &__contact {
    max-width: 200px;
    width: 100%;
    margin-right: 100px;
    padding-top: 0;
    line-height: 1.5;
  }

  &__logo {
    display: block;
    margin-bottom: 30px;
  }

  &__address,
  &__phone {
    display: block;
    margin-bottom: 13px;
  }


  &__title {
    display: block;
    margin-bottom: 20px;
    @extend %dmsans-700;
    line-height: 1.3;
    color: $accent;
    text-transform: uppercase;
  }

  &__link {
    display: block;
    margin-bottom: 10px;
  }

  &__newsletter {
    max-width: 270px;
    margin-right: 0;
  }

  &__text {
    margin-bottom: 35px;
  }

  &__form {
    @extend %dmsans-400;
    font-size: 12px;
  }

  &__input {
    max-width: 170px;
    width: 100%;
    padding: 10px 10px 8px;
    border: none;
    background-color: #fef7f0;
    color: $accent;

    &::placeholder {
      color: $accent;
    }

    &:focus {
      outline: 1px solid $accent;
    }
  }

  &__btn {
    max-width: 100px;
    padding: 10px 16px 8px 16px;
    border: none;
    background-color: $btn-blue;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      box-shadow: 0px 0px 5px 2px rgba(208, 232, 255, 0.3),
      0px 10px 10px 0px #a3bbc8af;
    }
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 33px;

  &__nav {
    display: flex;
  }

  &__nav-item + .footer-bottom__nav-item {
    padding-left: 15px;
    border-left: 1px solid $footer;
  }

  &__nav-item {
    padding-right: 15px;
  }

}

@import 'media';
