.blog {
  // padding: 60px 0 90px;
  @extend %dmsans-500;
  color: #262626;
  position: relative;
  z-index: 0;
  
  &::before {
    content: ""; 
    position: absolute;
    height: 475px;
    background-color: $bg-light;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  &__header {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: center;
  }

  &__show-more {
    font-weight: 700;
    color: inherit;

    &::after {
      content: ">";
      margin-left: 10px;
    }
  }

  &__title {
    margin: 0;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}