.featured {
  padding: 65px 0 75px;

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include r(1110) {
      justify-content: space-evenly;
    }
  }
  
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 30px 95px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 10px;
  }

  &__descr {
    position: absolute;
    bottom: 0;
    padding-bottom: 40px;
    text-align: center;
  }

  &__item-title {
    display: block;
    @extend %dmsans-500;
    line-height: 2.5;
    color: $accent;
  }

  &__price {
    @extend %dmsans-700;
    color: $link;
  }
}

.group-icons {
  position: absolute;
  display: flex;
  transition: opacity .3s;
  opacity: 0;

  .featured__icon {
    height: 20px;
    width: 20px;
    fill: $link;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin: 0 8px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 20px 3px rgba(37, 37, 37, 0.199);
    transform: translateY(65px);
    transition: all .3s;
  }

  & .group-icons__item:hover {
    background-color: $link;

    .featured__icon {
      fill: #fff;
    }
  }

  &--hover {
    opacity: 1;
  }
}