.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 30px 40px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  border-radius: 10px;

  &:hover {
    .product-card__icon-list {
      opacity: 1;
    }
  }

  &__img {
    max-width: 195px;
    margin-top: auto;
  }

  &__descr {
    margin-top: auto;
    text-align: center;
  }

  &__title {
    @extend %dmsans-500;
    line-height: 2.5;
    color: $accent;
  }

  &__price {
    @extend %dmsans-700;
    color: $link;
  }

  &__icon-list {
    position: absolute;
    display: flex;
    opacity: 0;
    transition: opacity .3s;
  }

  &__icon {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 8px;
    border: none;
    font-size: 0;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 20px 5px rgba(37, 37, 37, 0.3);
    transform: translateY(65px);
    transition: all .3s;

    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 25%;
      left: 25%;
      width: 50%;
      height: 50%;
      background-repeat: no-repeat;
      filter: invert(76%) sepia(8%) saturate(623%) hue-rotate(157deg) brightness(97%) contrast(86%);
    }

    &--search {
      &::after {
        background-image: url('../../images/icons/sprite.svg#search');
      }
    }

    &--cart {
      &::after {
        background-image: url('../../images/icons/sprite.svg#cart');
      }
    }

    &--like {
      &::after {
        background-image: url('../../images/icons/sprite.svg#like');
      }
    }

    &:hover {
      background-color: $link;

      &::after {
        filter: invert(1);
      }
    }
  }
}