.login {
  padding: 110px 10px 120px;
  @extend %rubik-500;
  color: $accent;

  &__text {
    display: block;
    margin: 25px 0 20px;
    text-align: center;
  }

  &__register-link {
    display: block;
    padding: 15px 0;
    border: 1px solid $accent;
    color: $accent;
    text-align: center;
    max-width: 470px;
    margin: 0 auto;
  }
}