.new-design {
  padding-bottom: 60px;

  &__filter {
    @include filter;
  }

  &__filter-btn {
    @include filter-btn;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(max-content, 250px));
    gap: 30px;
  }

  &__item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 35px 0 0 35px;
    @extend %dmsans-700;
    color: $title;
    background-color: #f8f8f8;
    border-radius: 4px;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0px 6px 20px 3px rgba(37, 37, 37, 0.26);
    }
  }
  
  &__title {
    max-width: 165px;
    margin-bottom: 15px;
    font-size: 20px;
  }

  &__subtitle {
    font-size: 16px;
    color: $link;
  }
}
