.new-products {
  padding-top: 100px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }
  
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 870px;
    width: 100%;
    min-height: 390px;
    background-color: #feefe2;
    padding: 85px 150px 85px 130px;
  }

  &__img {
    position: absolute;
    max-width: 235px;
    max-height: 410px;
    bottom: 85px;
  }

  &__content {
    max-width: 50%;
    margin-left: auto;
    color: $accent;
  }

  &__title {
    display: block;
    margin-bottom: 15px;
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
  }

  &__text {
    margin-bottom: 20px;
    @extend %rubik-400;
    line-height: 30px;
  }

  & + & {
    margin-left: 30px;
  }
}


