.services {

  &__inner {
    padding: 0;
    display: grid;
    background-color: $bg-light;
    grid-template-columns: repeat(3, 1fr);

    @include r(570) {
      display: flex;
      flex-direction: column;
    }  
  }

  &__info {
    padding: 35px 0;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e8e4df;

    @include r(1400) {
      padding-left: 130px;
    }

    @include r(996) {
      align-items: center;
      padding: 70px 0 35px;
      text-align: center;
    }

    @include r(570) {
      padding: 65px 0 0;
    }


    &:last-child {
      border-right: none;

      @include r(570) {
        padding-bottom: 20px;
      }
    }
  }

  &__title {
    display: block;
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 2.1;
    color: #414141;
    position: relative;

    @include r(1200) {
      font-size: 16px;
    }


    &::before {
      content: "";
      display: inline-block;
      width: 50px;
      height: 50px;
      margin-right: 20px;
      position: absolute;
      top: 10px;
      left: -75px;
      z-index: 3;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @include r(1200) {
        width: 40px;
        height: 40px;
        margin-right: 0;
      }  

      @include r(996) {
        top: -40px;
        left: calc(50% - 20px);
      }
    }

    &--support::before {
      background-image: url('../images/icons/24-7.svg');
    }

    &--delivery::before {
      background-image: url('../images/icons/delivery.svg');
    }

    &--payment::before {
      background-image: url('../images/icons/payment.svg');
    }
  }

  &__text {
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
    color: #585858;
    @include line-clamp(2);

    @include r(1200) {
      font-size: 14px;
    }

    @include r(570) {
      display: none;
    }

    span {
      display: block;
    }
  }
}