.top-slider {
  &__slider {
    background-color: $bg;
  }

  &__item {
    overflow: hidden;
  }

  &__inner {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 15px 85px;
    display: flex;
    align-items: center;
    min-height: 820px;

    @include r(1180) {
      flex-direction: column;
    }
    
    @include r(570) {
      min-height: auto;
    }

    @include r(440) {
      padding: 75px 15px 60px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      background-image: url("../../images/slider/slider-round-bg.png");
      background-repeat: no-repeat;
      right: -400px;
      top: 100px;
      height: 80%;
      width: 80%;
      z-index: -1;

      @include r(1180) {
        display: none;
      }
    }
  }

  &__content {
    max-width: 470px;
    margin-right: 60px;

    @include r(1180) {
      margin-right: 0;
      margin-bottom: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 30px;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 1;
    color: $accent;
    text-transform: uppercase;
    @include line-clamp(2);

    @include r(570) {
      font-size: 60px;
    }

    @include r(440) {
      font-size: 45px;
    }
  }

  &__text {
    margin-bottom: 40px;
    max-width: 370px;
    @extend %rubik-400;
    font-size: 18px;
    line-height: 1.5;
    color: #436372;
    @include line-clamp(2);

    @include r(1180) {
      margin-bottom: 50px;
    }

    @include r(570) {
      font-size: 16px;
    }

    @include r(440) {
      font-size: 14px;
    }
  }

  &__img {
    display: block;
    margin-right: -115px;
    max-width: 615px;
    max-height: 615px;

    @include r(1180) {
      max-width: 500px;
      margin-right: 0;
    }

    @include r(570) {
      max-width: 400px;
      margin-right: 0;
      margin-bottom: 50px;
    }

    @include r(440) {
      max-width: 275px;
      margin-right: 0;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    transform: translateY(-75px);
    height: 0;

    li {
      padding: 0 6px;
      transition: background-color 0.3s;
    }

    button {
      width: 30px;
      height: 30px;
      text-align: center;
      border: none;
      border-radius: 50%;
      background-color: #fde3cc;
      @extend %rubik-500;
      color: $accent;
      transition: background-color 0.3s;
      cursor: pointer;
      outline: transparent;
    }

    button:hover {
      background-color: #fff;
    }

    .slick-active {
      button {
        background-color: #fff;
      }
    }
  }
}
