.top-slider {

  &__slider {
  background-color: $bg;
  }

  &__item {
    overflow: hidden;
  }
  
  &__inner {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 15px 85px;
    display: flex;
    align-items: center;
    min-height: 820px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      background-image: url('../../images/slider/slider-round-bg.png');
      height: 633px;
      width:  633px;
      right: -120px;
      z-index: -1;
    }
  }
  
  &__content {
    max-width: 470px;
    margin-right: 60px;
  }
  
  &__title {
    display: block;
    margin-bottom: 30px;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 1;
    color: $accent;
    text-transform: uppercase;
  }
  
  &__text {
    margin-bottom: 40px;
    max-width: 370px;
    @extend %rubik-400;
    font-size: 18px;
    line-height: 1.5;
    color: #436372;
  }

  &__img {
    margin-right: -115px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    transform: translateY(-75px);
    height: 0;

    li {
      padding: 0 6px;
      transition: background-color .3s;
    }

    button {
      width: 30px;
      height: 30px;
      text-align: center;
      border: none;
      border-radius: 50%;
      background-color: #fde3cc;
      @extend %rubik-500;
      color: $accent;
      transition: background-color .3s;
      cursor: pointer;
      outline: transparent;
    }

    button:hover {
      background-color: #fff;
    }
    
    .slick-active {
      button {
        background-color: #fff;
      }
    }
  }
}