.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-24-7 {
	font-size:(53.13/10)*1rem;
	width:(50.875/53.13)*1em;
}
.icon-bento {
	font-size:(20.031/10)*1rem;
	width:(20.03/20.031)*1em;
}
.icon-cart {
	font-size:(16.969/10)*1rem;
	width:(18.94/16.969)*1em;
}
.icon-delivery {
	font-size:(36.44/10)*1rem;
	width:(53.75/36.44)*1em;
}
.icon-like {
	font-size:(17/10)*1rem;
	width:(19/17)*1em;
}
.icon-payment {
	font-size:(52.25/10)*1rem;
	width:(53.56/52.25)*1em;
}
.icon-play {
	font-size:(9/10)*1rem;
	width:(22/9)*1em;
}
.icon-search {
	font-size:(15.281/10)*1rem;
	width:(15.28/15.281)*1em;
}
