$bg: #fcd7b6;
$default: #7b7b7b;
$link: #a3bbc8;
$bg-light: #fef7f0;
$title: #191919;
$accent: #243f4d;


%dmsans-400 {
  font-family: 'DMSans', sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans', sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans', sans-serif;
  font-weight: 700;
}

%rubik-300 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}
%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%poppins-700 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}


@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}