$bg: #fcd7b6;
$default: #7b7b7b;
$link: #a3bbc8;
$bg-light: #fef7f0;
$title: #191919;
$accent: #243f4d;

%dmsans-400 {
  font-family: "DMSans", sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: "DMSans", sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: "DMSans", sans-serif;
  font-weight: 700;
}

%rubik-300 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}
%rubik-400 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

%poppins-700 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

@mixin line-clamp($lines) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

@mixin r($width) {
  @media only screen and (max-width: $width+ "px") {
    @content; 
  } 
}

@mixin rmin($width) {
  @media only screen and (min-width: $width+ "px") {
    @content; 
  } 
}