.blog-card {
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  max-width: 370px;

  @include r(1180) {
    margin-bottom: 40px;
    max-width: 800px;
  }

  @include r(996) {
    max-width: 550px;
  }

  @include r(570) {
    max-width: 370px;
  }

  &__link {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0;
  }

  &__img {
    display: block;
    width: 100%;
    
  }

  &__info {
    padding: 25px;
  }

  &__category {
    position: absolute;
    top: 235px;
    max-width: 300px;
    @extend %poppins-700;
    font-size: 14px;
    padding: 5px 30px;
    border-radius: 20px;
    text-transform: uppercase;
    background-color: $link;
    color: #fff;

    @include r(1180) {
      top: unset;
      bottom: 150px;
    }

    @include r(996) {
      bottom: 180px;
    }

    @include r(340) {
      display: none;
    }
  }

  &__text {
    margin-bottom: 20px;
    @include line-clamp(3);
  }
  
  &__details {
    display: flex;
    padding-top: 20px;
    @extend %rubik-400;
    font-size: 12px;
    color: #222933;
    text-transform: uppercase;
    border-top: 1px solid #e0e0e0;

    @include r(470) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__date {
    display: block;
    position: relative;
    padding-left: 30px;

    @include r(470) {
      margin-bottom: 10px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      background-image: url('../../images/icons/sprite.svg#calendar');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__author {
    display: block;
    margin-left: 30px;
    position: relative;
    padding-left: 30px;

    @include r(470) {
      margin-left: 0;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      background-image: url('../../images/icons/sprite.svg#user');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

}