.top {
  padding: 30px 0;
  background-color: $link;
  width: 100%;
  display: flex;
  justify-content: center;
  line-height: 1;

  @include r(470) {
    padding: 15px 0;
  }

  &__inner {
    text-align: center;
  }

  &__title {
    @extend %rubik-300;
    font-size: 36px;
    line-height: 1.1;
    color: #222933;
    margin-bottom: 10px;

    @include r(470) {
      font-size: 28px;
    }
  }

  &__breadcrumbs {
    font-size: 14px;

    @include r(470) {
      font-size: 12px;
    }
  }
}